/*keeps body from being hidden*/
body { 
    padding-top: 65px; 
}
/*NAVBAR*/
.navbar{
	margin-bottom:300px;
}


/*ADS.CREATE.PHP*/
.form_ads{
	margin-top:100px;
}


/*USERS.CREATE.PHP*/
.form_users{
	margin-top:100px;
}